<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BaseHospitalMapper">
    <!-- 结果集 -->
    <resultMap type="com.entity.BaseHospital" id="BaseResultMap">
        <result property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="pinyinCode" column="PINYIN_CODE" jdbcType="VARCHAR"/>
        <result property="enabled" column="ENABLED" jdbcType="BOOLEAN"/>
        <result property="createMan" column="CREATE_MAN" jdbcType="VARCHAR"/>
        <result property="updateMan" column="UPDATE_MAN" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        ID, NAME, PINYIN_CODE, ENABLED, UPDATE_TIME, CREATE_TIME,CREATE_MAN,UPDATE_MAN    </sql>
    <update id="updateEnabledById">
        update BASE_HOSPITAL
         set ENABLED = #{enabled,jdbcType=BOOLEAN}
        where
        ID = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectListByEnabled" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BASE_HOSPITAL
        where
        ENABLED = #{enabled,jdbcType=NUMERIC}
    </select>

</mapper>